# Ignore the workspace/archive
**/_workspace/

# Quarto internals & build Directory
/.quarto/
/_freeze/
/_site/
/_build/
/.jj/
**/*.quarto_ipynb
/.luarc.json

# Intermediate files
/reports/*/assets/
/reports/*/logos/
/reports/*/*.typ
/reports/*/*.md
!/reports/*/*_markdown.md
*.log

# Output files
# 1. Ignore all PDFs by default (prevents tracking them in country/ folders)
*.pdf
# 2. Ignore all directories with PDF in their name
/*pdf*/

